
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border-radius: 0px solid;
    text-decoration: none;
    list-style-type: none;
}
a{
    color: #000;
}

.top-header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(224, 226, 228, 0.137);

}
.top-nav-header nav ul {
    display: flex;
    padding: .5rem 0rem;
}

.top-nav-header nav ul a{
    padding: .2rem;
    margin: 0rem .5rem;
    font-size:1.4rem;

}
.fa:hover{
    color: rgb(114, 172, 152);
    transition: 0.5s;
}


main{
    display: flex;
    justify-content: center;   
    flex-wrap: wrap;   
    margin: 1rem 0rem;
    padding: 1rem;

}

div.left-container{
    max-width: 500px;
}
img.profile{
    height: 80vh;
    max-width: 100%;
    padding: 1rem;

}
@media only screen and (max-width: 815px) {
    img.profile{
        height: 50vh;
        max-width: 100%;
        padding: 1rem;
    
    }  
}
.right-hero-container{
    max-width: 500px;
    padding: 5rem 2rem;
    background-color: azure;


}

h5{
    opacity: 0.5;
    font-family: sans-serif;
}
h3,h5{
    padding: .2rem 1rem;
}
h3{
    font-size: 2rem;
}

p{
    padding: 1rem;
    letter-spacing: 1px;
    font-size: .9rem;
    font-family: sans-serif;
    opacity: 0.8;
}

button.btn{
    padding: .85rem 1.5rem;
    margin: 1rem 0rem .9rem 1rem;
    outline: none;
    border: 0px solid;
    background-color: rgba(141, 135, 135, 0.658);
    letter-spacing: 1px;
    font-size: 1rem;
    cursor: pointer;
}

button.btn a{
    color:#fff;
}
button.btn:hover{
    transition: 0.5s;
    background-color: rgb(114, 172, 152);

}

footer h2{
    text-align: center;
    background-color: aliceblue;
}
/* 
@media only screen and (max-width: 600px) {
    img.profile{
        height: auto;
        max-width: 100%;
    }
    
} */